@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}

.categoryId:hover{
    text-decoration: underline;
}

button{
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

button:hover{
  background-color: rgb(228, 228, 228);
  color: rgb(121, 121, 121);
  border: solid rgb(121, 121, 121) 1px;
  padding: 9px;
}

.container{
  display: grid;
  justify-content: center;
  text-align: center;
}

.contentDiv{
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto;
  text-align: center;
  text-align: start;
}

.contentDiv>.modifyItem{
  grid-column-start: 1;
  font-size: large;
}

.contentDiv>.modifyItem>input{
  padding: 9px;
}

.contentDiv>.cursorChange{
  grid-column-start: 2;
}

.contentDiv>input{
  grid-row-start: 1;
}

.contentDiv>p:hover{
  background-color: grey;
  cursor: pointer;
}

#create_card{
  display: none;
  grid-template-columns: auto;
  border: solid rgb(146, 146, 146) 1px;
  background-color: rgb(236, 236, 236);
  padding: 20px;
}

.userCategory>li{
  padding: 10px;
}

#create_card button{width: fit-content;}



#publicContainer{
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.publicDiv{
    display: grid;
    grid-template-columns: 250px auto;
    text-align: start;
  }


#listcards{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  padding: 40px;
}

#listcards>.editItem{
  grid-column-start: 2;
}

.listcard{
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
  border: solid rgb(146, 146, 146) 1px;
  background-color: rgb(236, 236, 236);
}

.listcard>h2{
  text-transform: uppercase;
  border-bottom: grey 1px solid;
}

.listcard>button{
  height: 30px;
}

.cursorChange{
  cursor: pointer;
}

.listcard h2{font-size: 1.5rem; text-align: center;}


.accountPage{
  display: grid;
  justify-content: center;
}

#form>input{
  padding: 10px;
  background-color: rgb(233, 233, 233);
}

#formBtn:hover{
  cursor: pointer;
  background-color: rgb(196, 196, 196);
}

.tagfield{
  padding: 10px;
}

.tagfield>input{
  padding: 5px;
}

.navBar{
  position: fixed;
}

#dashboardMenu{
  display: none;
}


.users{
  display: grid;
  justify-content: center;
  padding: 300px;
}

.users>input{
  padding: 10px;
}

.editItem{
  display: grid;
  justify-content: center;
}

.editItem>input{
  padding: 10px;
}

.editItem>div{
  text-align: start;
}

.editItem>div>label{
  padding-right: 5px;
}

@media only screen and (max-width: 900px) {
  #publicContainer{
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
  }

  #listcards{
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 480px) {
  #publicContainer{
    display: grid;
    grid-template-columns: auto;
    padding: 40px;
  }

  #listcards{
    display: grid;
    grid-template-columns: auto;
    padding: 40px;
  }

  .navBar{
    display: grid;
    position: relative;
  }

  .users{
    padding: 0;
  }
}