body{
    margin: 0;
    background-color: cadetblue;
}

/*Css for hovedkontaineren*/
main{
    position: absolute;
    display: grid;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background-color: coral;
}

.startPage{
    display: grid;
    grid-template-columns: auto;
    background-color:darkseagreen;
    border: solid green 1px;
    padding: 100px;
}

.users{
    display: grid;

    background-color:darkseagreen;
    border: solid green 1px;
    padding: 100px;
}

.userInputs{
    border: solid green 1px;
    padding: 10px;
}

.userBtns{
    border: solid green 1px;
    padding: 10px;
}

.userBtns:hover{
    background-color: green;
    padding: 10px;
}

/*HOMEPAGE CONTENT STUFF*/
.homepage{
    display: grid;
    grid-template-columns: auto;
    background-color:darkseagreen;
    border: solid green 1px;
    padding: 100px;
}