<div class="accountPage">
    <div class="EditUserInfo">
        <h1 id="formBtn">Change password</h1>
        <div id="form" style="display: none;">
            <input type="password" placeholder="Password" id="password">
            <input type="password" placeholder="Password" id="securityPassword">
            <button id="submit">Submit</button>
        </div>
    </div>
    <div class="accountInfo">
        <h1>Account info</h1>
        <p id="posts">Posts: 100</p>
        <p id="username">Username</p>
    </div>
    <button onclick="deleteUser()">Delete account</button>
</div>