<div class="accountPage">
    <div class="EditUserInfo">
        <h1 id="formBtn">Change password</h1>
        <div id="form" style="display: none;">
            <input type="password" placeholder="Password" id="password">
            <input type="password" placeholder="Password" id="securityPassword">
            <button id="submit">Submit</button>
        </div>
    </div>
    <div class="accountInfo">
        <h1>Account info</h1>
        <p>Posts: 100</p>
        <p>Username</p>
        <p>bla bla</p>

        <ul>
            <li><input type="text" placeholder="items" name="" id=""><input type="checkbox"></li>
        </ul>
    </div>
    <button onclick="deleteUser()">Delete account</button>
</div>