<div>
    
    <header>
      <div class="container">
        <div id="header">
          <h1>Todo app</h1>
          <div>
            <button id="show_card_box">Add list</button>
            <button id="delete_cards">Delete list</button>
          </div>
        </div>
      </div>
    </header>
    
    <section>
      <div class="container">
        <div id="create_card">
          <h2>Create Todo list</h2>
          <div id="items">
          sdasdasa
          </div>
          <div id="pending-list">
          </div>
          <textarea id="answer"></textarea>
          <div id="category">
            <select onchange="check()" name="" id="selectCategory">
              <option value="null">Unlisted</option>
            </select>
          </div>
          <div>
            <button id="save_card">Save</button> <button id="close_card_box">Close</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div id="listcards">
          
        </div>
      </div>
    </section>

  </div>
