<div>
    
    <header>
      <div class="container" id="header">
          <h1>Todo app</h1>
          <div>
            <button id="show_card_box">Add list</button>
            <button id="delete_cards" onclick="LoadCategory()">Manage categories</button>
          </div>
      </div>
    </header>
    
    <section>
      <div class="container">
        <div id="create_card">
          <h2>Create Todo list</h2>
          <div id="items">

          </div>
          <div id="pending-list">
          </div>
          <input id="categoryname" type="text" placeholder="Overskrift">
          <form action="">
            <label for="checkPublic">Public</label>
            <input type="checkbox" name="" id="checkPublc">
          </form>
          <textarea id="answer"></textarea>
          <div id="category">
            <select name="" id="selectCategory">
            
            </select>
          </div>
          <div>
            <button id="save_card">Save</button> <button id="close_card_box">Close</button>
            
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div id="listcards">
          
        </div>
      </div>
    </section>

  </div>
