
<div class="container">
    <div id="categoryView">
        <div class="listcard">
            <h2 style="margin-bottom: 5px;">Create new category</h2>
            <p>Category: <input type="text" placeholder="Enter a category name" id='input_category_name'></p>
               <p>Tag: <input type="text" placeholder="Enter a tag" id='input_category_tag'></p>
                <input type="date" id="date">
               <p> Public Category?: <input type="radio" id="is_public"></p>
                <p><button id="save">Save</button></p>
            </p>
        </div>
        
    </div>
</div>